Battery-tooling (1.10).json
[
    {
        "id": "a01a6ad43ae20262",
        "type": "tab",
        "label": "Battery Tooling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d69c190c353e51a",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "M1",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "182d4d960b405847",
            "5086b6eae1ccacc4",
            "b6a8eccaf337f147",
            "29a01819eceaa285",
            "95b4acecc6e9cff9",
            "b7d0091b14c7ded2",
            "733d3778f5c99241",
            "765415e47a1224e7",
            "878dccbe61442ac8",
            "09463f2c9c288b44"
        ],
        "x": 94,
        "y": 99,
        "w": 952,
        "h": 308
    },
    {
        "id": "718de6ecef9b5913",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "M2",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b135b4f2e365efde",
            "d892c482c668b03b",
            "6ec88f5851ef4936",
            "3a8f42f974406599",
            "eee0b0503e3fdd61",
            "732e04067bdd364e",
            "f04a3ea99aaf3365",
            "cff3516646823e42",
            "4628e546ccc63a18"
        ],
        "x": 94,
        "y": 429,
        "w": 932,
        "h": 308
    },
    {
        "id": "239956c7c2d8d669",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "M3",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a505e24b96af8838",
            "f119ae5377172698",
            "83bdae9d8f2a6b5b",
            "8ec8e96db83ee170",
            "195cc89363ce5051",
            "c0343fce4d628dea",
            "9a844a883ca245f5",
            "e0541c74ad29b168",
            "d0bb375e75984094"
        ],
        "x": 94,
        "y": 769,
        "w": 932,
        "h": 308
    },
    {
        "id": "25597664dd01656b",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "Read firmware version",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "55f54e3e41cf6eeb",
            "0119dd777d5008be",
            "860e4a9718526df3",
            "04f0275a9577d057",
            "e65491e9cb09f59a",
            "53d9b5bec625a7a9",
            "ede2f2acea56c368",
            "fcd62c92df2adbcc",
            "179ef287d781ac9f",
            "e0d526c695465ea7",
            "c07dd1d02ceea20d",
            "4118c8cd44394ce2",
            "610ad89a519f6dea",
            "38e97ec0d8b4f15f",
            "2401a806464361bd",
            "928fc0d249208017",
            "aa5f92467835099b",
            "7d061dff5246ae08",
            "8aac838b8209e6bf",
            "faa35974dfbefbe2",
            "8cef7f0cb3c76b72",
            "2aea6d97845f719f",
            "0f755ec9da96ab70",
            "d649eedb20aeb086",
            "1de232ccbe3a6627",
            "0ac1595261c51afa",
            "202cab74b518d38a",
            "27db4f2a7394de43",
            "9b34d7b4a2d6f534",
            "6167071492062968",
            "d37af88dd8ec16f2",
            "aa00c90ccb176f5d",
            "67bee90ddeb0f4a4",
            "47f3449094f8c168",
            "5fe0ef8fc4c7d450",
            "a0d8656c076c2422",
            "ab1e250734ab2f2e",
            "992114ad79077f70",
            "2fff406a8905552a",
            "709034dbded7c2be",
            "82f1c89b722c078e",
            "db3d2a06a14520e0",
            "5f459c871d95390f",
            "3ea88af4079e09a9",
            "a74af26ca7a60e87",
            "cba5c726762c50c5",
            "01b78e74e7fe83d7",
            "56eeb127a670993a",
            "b74d5be9e7643aa4",
            "8da3c29bf8507238",
            "39ba6f8a494210f6",
            "3c68c75972d93292",
            "d0768457cc978fe8",
            "d68248f6aabf58ba",
            "da9dd12fd49ed84b",
            "541af38619cfd07f",
            "ec92d6bcfd4b9619",
            "db74a1d79fe51325",
            "4a93fa4dd86378f5",
            "d4ceb50ad3105e2c",
            "2a190b9e9654cc1e",
            "a2da300966ea1380",
            "5b840baca598e956",
            "a113aca7532c0993",
            "9c69a636b7019cbd",
            "893ea7b7dd9b9698",
            "8d18fa5935b63114",
            "832aed0a4f1c2a19",
            "50970ddb03e5a656",
            "45c1c519c2dc955a",
            "a43c07b59668ac93",
            "8b244b31194d11b4",
            "3cf6e3414440ea2f",
            "dc902ad0fd1874a3",
            "97856053edb863e5",
            "da7f34c115b6b48e",
            "05e117056b64c76e",
            "12092995d2c4f607"
        ],
        "x": 84,
        "y": 1139,
        "w": 1412,
        "h": 2172
    },
    {
        "id": "49899ceb8de2b9cf",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "Toggle Lan Switch to reset modbus",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000",
            "fill": "#ffC000"
        },
        "nodes": [
            "51297deab6c3defd",
            "607843ec48028f5e",
            "1b0380988bf0e44a",
            "771b2d3b4cac2a88",
            "650b3ff1b3d769b9",
            "69a406ac75910f63"
        ],
        "x": 74,
        "y": 3379,
        "w": 842,
        "h": 192
    },
    {
        "id": "15a071569744a046",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "name": "Workarround max discharge",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6394935bf3156509",
            "1115f5fbf659055a",
            "a349f17fcc963dd9",
            "36456f0912bf41a1",
            "ee9f4a03497e2482",
            "6cb3d0341bea4737",
            "ae37212bb48c9120",
            "6a440a0225e44ff7",
            "b9173903c5b35b15",
            "a0aae931f8690ba0",
            "20b329116c55b5a6",
            "891e10699ac66943",
            "b28abded5955833b",
            "1e016be7d987cded",
            "c19f57e46d99df8a",
            "7b4290e3a3dde7a5",
            "a34d59670364084d"
        ],
        "x": 1084,
        "y": 99,
        "w": 982,
        "h": 372
    },
    {
        "id": "878dccbe61442ac8",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "0dd7041848a984bc",
            "6d226c2b34164c7d",
            "90707b2196df987a"
        ],
        "x": 534,
        "y": 169,
        "w": 252,
        "h": 212
    },
    {
        "id": "4628e546ccc63a18",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "351beeb8be151fd0",
            "75fb991b1ba710d4",
            "2a623b0763cd3bfc"
        ],
        "x": 534,
        "y": 499,
        "w": 252,
        "h": 212
    },
    {
        "id": "d0bb375e75984094",
        "type": "group",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "2447f58a2ce79df4",
            "7aa9a5e1227e3f25",
            "e7101213d52639bb"
        ],
        "x": 534,
        "y": 839,
        "w": 252,
        "h": 212
    },
    {
        "id": "b28abded5955833b",
        "type": "junction",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "x": 1330,
        "y": 270,
        "wires": [
            [
                "a349f17fcc963dd9",
                "6394935bf3156509"
            ]
        ]
    },
    {
        "id": "182d4d960b405847",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "store values",
        "func": "flow.set(\"Address\",msg.payload.address) ;\nflow.set(\"Value\",msg.payload.value) ;\nflow.set(\"Unitid\",msg.payload.unitid) ;\nflow.set(\"Quantity\",msg.payload.quantity) ;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5086b6eae1ccacc4",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "prepare read",
        "func": "var Address = flow.get(\"Address\") ;\nvar Unitid = flow.get(\"Unitid\") ;\nvar Quantity = flow.get(\"Quantity\") ;\nvar fc = 3 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\n\nmsg1.payload = { \"fc\": fc, \"unitid\": Unitid, \"address\": Address, \"quantity\": Quantity } //read\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "0dd7041848a984bc"
            ]
        ]
    },
    {
        "id": "b6a8eccaf337f147",
        "type": "ui_form",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "",
        "label": "",
        "group": "bbc7c21fa70f301e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "address",
                "value": "address",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "quantity",
                "value": "quantity",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "unitid",
                "value": "unitid",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "value",
                "value": "value",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "address": "",
            "quantity": "",
            "unitid": "",
            "value": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "182d4d960b405847",
                "765415e47a1224e7"
            ]
        ]
    },
    {
        "id": "0dd7041848a984bc",
        "type": "modbus-flex-getter",
        "z": "a01a6ad43ae20262",
        "g": "878dccbe61442ac8",
        "name": "Read modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "29a01819eceaa285"
            ],
            []
        ]
    },
    {
        "id": "29a01819eceaa285",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "group": "bbc7c21fa70f301e",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Register value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "95b4acecc6e9cff9",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "",
        "group": "bbc7c21fa70f301e",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Read register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "5086b6eae1ccacc4"
            ]
        ]
    },
    {
        "id": "6d226c2b34164c7d",
        "type": "modbus-flex-write",
        "z": "a01a6ad43ae20262",
        "g": "878dccbe61442ac8",
        "name": "Write modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b7d0091b14c7ded2",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "prepare write",
        "func": "var Address = flow.get(\"Address\") ;\nvar Value = flow.get(\"Value\") ;\nvar Unitid = flow.get(\"Unitid\") ;\nvar Quantity = flow.get(\"Quantity\") ;\nvar fc = 6 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\nmsg1.payload = {\"value\": Value, \"fc\": fc, \"unitid\": Unitid, \"address\": Address, \"quantity\": Quantity } //write\n\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "6d226c2b34164c7d"
            ]
        ]
    },
    {
        "id": "733d3778f5c99241",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "",
        "group": "bbc7c21fa70f301e",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Write register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "b7d0091b14c7ded2"
            ]
        ]
    },
    {
        "id": "765415e47a1224e7",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "last",
        "rules": [
            {
                "t": "set",
                "p": "form",
                "pt": "flow",
                "to": "payload.form",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 170,
        "wires": [
            [
                "b6a8eccaf337f147"
            ]
        ]
    },
    {
        "id": "90707b2196df987a",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "878dccbe61442ac8",
        "name": "readme",
        "info": "Select a modbus server:\nip nummer of the device and add port number 502\nexample: 192.168.178.55:502\n\nDo this for the modbus read node and for the \nmodbus write node.\n\nAlso change in the prepare nodes if necessary\nthe fc value for special registers.",
        "x": 640,
        "y": 210,
        "wires": []
    },
    {
        "id": "b135b4f2e365efde",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "store values",
        "func": "flow.set(\"Address2\",msg.payload.address) ;\nflow.set(\"Value2\",msg.payload.value) ;\nflow.set(\"Unitid2\",msg.payload.unitid) ;\nflow.set(\"Quantity2\",msg.payload.quantity) ;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "d892c482c668b03b",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "prepare read",
        "func": "var Address2 = flow.get(\"Address2\") ;\nvar Unitid2 = flow.get(\"Unitid2\") ;\nvar Quantity2 = flow.get(\"Quantity2\") ;\nvar fc = 3 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\n\nmsg1.payload = { \"fc\": fc, \"unitid\": Unitid2, \"address\": Address2, \"quantity\": Quantity2 } //read\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 590,
        "wires": [
            [
                "351beeb8be151fd0"
            ]
        ]
    },
    {
        "id": "6ec88f5851ef4936",
        "type": "ui_form",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "",
        "label": "",
        "group": "7667c6660a73ce8b",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "address",
                "value": "address",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "quantity",
                "value": "quantity",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "unitid",
                "value": "unitid",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "value",
                "value": "value",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "address": "",
            "quantity": "",
            "unitid": "",
            "value": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 370,
        "y": 470,
        "wires": [
            [
                "b135b4f2e365efde",
                "cff3516646823e42"
            ]
        ]
    },
    {
        "id": "3a8f42f974406599",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "group": "7667c6660a73ce8b",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Register value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 590,
        "wires": []
    },
    {
        "id": "eee0b0503e3fdd61",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "",
        "group": "7667c6660a73ce8b",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Read register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 590,
        "wires": [
            [
                "d892c482c668b03b"
            ]
        ]
    },
    {
        "id": "732e04067bdd364e",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "prepare write",
        "func": "var Address2 = flow.get(\"Address2\") ;\nvar Value2 = flow.get(\"Value2\") ;\nvar Unitid2 = flow.get(\"Unitid2\") ;\nvar Quantity2 = flow.get(\"Quantity2\") ;\nvar fc = 6 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\nmsg1.payload = {\"value\": Value2, \"fc\": fc, \"unitid\": Unitid2, \"address\": Address2, \"quantity\": Quantity2 } //write\n\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 670,
        "wires": [
            [
                "75fb991b1ba710d4"
            ]
        ]
    },
    {
        "id": "f04a3ea99aaf3365",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "",
        "group": "7667c6660a73ce8b",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Write register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 670,
        "wires": [
            [
                "732e04067bdd364e"
            ]
        ]
    },
    {
        "id": "cff3516646823e42",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "718de6ecef9b5913",
        "name": "last",
        "rules": [
            {
                "t": "set",
                "p": "form2",
                "pt": "flow",
                "to": "payload.form2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "6ec88f5851ef4936"
            ]
        ]
    },
    {
        "id": "351beeb8be151fd0",
        "type": "modbus-flex-getter",
        "z": "a01a6ad43ae20262",
        "g": "4628e546ccc63a18",
        "name": "Read modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 660,
        "y": 590,
        "wires": [
            [
                "3a8f42f974406599"
            ],
            []
        ]
    },
    {
        "id": "75fb991b1ba710d4",
        "type": "modbus-flex-write",
        "z": "a01a6ad43ae20262",
        "g": "4628e546ccc63a18",
        "name": "Write modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "f821200b3de634c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 670,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2a623b0763cd3bfc",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "4628e546ccc63a18",
        "name": "readme",
        "info": "Select a modbus server:\nip nummer of the device and add port number 502\nexample: 192.168.178.55:502\n\nDo this for the modbus read node and for the \nmodbus write node.\n\nAlso change in the prepare nodes if necessary\nthe fc value for special registers.",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "a505e24b96af8838",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "store values",
        "func": "flow.set(\"Address1b\",msg.payload.address) ;\nflow.set(\"Value1b\",msg.payload.value) ;\nflow.set(\"Unitid1b\",msg.payload.unitid) ;\nflow.set(\"Quantity1b\",msg.payload.quantity) ;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "f119ae5377172698",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "prepare read",
        "func": "var Address1b = flow.get(\"Address1b\") ;\nvar Unitid1b = flow.get(\"Unitid1b\") ;\nvar Quantity1b = flow.get(\"Quantity1b\") ;\nvar fc = 3 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\n\nmsg1.payload = { \"fc\": fc, \"unitid\": Unitid1b, \"address\": Address1b, \"quantity\": Quantity1b } //read\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 930,
        "wires": [
            [
                "2447f58a2ce79df4"
            ]
        ]
    },
    {
        "id": "83bdae9d8f2a6b5b",
        "type": "ui_form",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "",
        "label": "",
        "group": "03b65d071c6d10e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "address",
                "value": "address",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "quantity",
                "value": "quantity",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "unitid",
                "value": "unitid",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "value",
                "value": "value",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "address": "",
            "quantity": "",
            "unitid": "",
            "value": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 370,
        "y": 810,
        "wires": [
            [
                "a505e24b96af8838",
                "e0541c74ad29b168"
            ]
        ]
    },
    {
        "id": "8ec8e96db83ee170",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "group": "03b65d071c6d10e4",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Register value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 930,
        "wires": []
    },
    {
        "id": "195cc89363ce5051",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "",
        "group": "03b65d071c6d10e4",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Read register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 930,
        "wires": [
            [
                "f119ae5377172698"
            ]
        ]
    },
    {
        "id": "c0343fce4d628dea",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "prepare write",
        "func": "var Address1b = flow.get(\"Address1b\") ;\nvar Value1b = flow.get(\"Value1b\") ;\nvar Unitid1b = flow.get(\"Unitid1b\") ;\nvar Quantity1b = flow.get(\"Quantity1b\") ;\nvar fc = 6 ; //read =3 write is 6 \n\n\n\nvar msg1 = {};\nmsg1.payload = {\"value\": Value1b, \"fc\": fc, \"unitid\": Unitid1b, \"address\": Address1b, \"quantity\": Quantity1b } //write\n\n\n\nreturn [[msg1]];\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1010,
        "wires": [
            [
                "7aa9a5e1227e3f25"
            ]
        ]
    },
    {
        "id": "9a844a883ca245f5",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "",
        "group": "03b65d071c6d10e4",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Write register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1010,
        "wires": [
            [
                "c0343fce4d628dea"
            ]
        ]
    },
    {
        "id": "e0541c74ad29b168",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "239956c7c2d8d669",
        "name": "last",
        "rules": [
            {
                "t": "set",
                "p": "form1b",
                "pt": "flow",
                "to": "payload.form1b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 840,
        "wires": [
            [
                "83bdae9d8f2a6b5b"
            ]
        ]
    },
    {
        "id": "2447f58a2ce79df4",
        "type": "modbus-flex-getter",
        "z": "a01a6ad43ae20262",
        "g": "d0bb375e75984094",
        "name": "Read modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "b97d617ade918f2a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 660,
        "y": 930,
        "wires": [
            [
                "8ec8e96db83ee170"
            ],
            []
        ]
    },
    {
        "id": "7aa9a5e1227e3f25",
        "type": "modbus-flex-write",
        "z": "a01a6ad43ae20262",
        "g": "d0bb375e75984094",
        "name": "Write modbus register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "b97d617ade918f2a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 1010,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e7101213d52639bb",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "d0bb375e75984094",
        "name": "readme",
        "info": "Select a modbus server:\nip nummer of the device and add port number 502\nexample: 192.168.178.55:502\n\nDo this for the modbus read node and for the \nmodbus write node.\n\nAlso change in the prepare nodes if necessary\nthe fc value for special registers.",
        "x": 640,
        "y": 880,
        "wires": []
    },
    {
        "id": "55f54e3e41cf6eeb",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 Fw EMS 30200",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30200",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1190,
        "wires": [
            [
                "0119dd777d5008be"
            ],
            []
        ]
    },
    {
        "id": "0119dd777d5008be",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "ems",
        "func": "var ems1 = msg.payload ;\n\n\nreturn [{ payload: ems1}]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "04f0275a9577d057"
            ]
        ]
    },
    {
        "id": "860e4a9718526df3",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 vns 30202",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30202",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1390,
        "wires": [
            [
                "179ef287d781ac9f"
            ],
            []
        ]
    },
    {
        "id": "04f0275a9577d057",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "ems1",
        "label": "ems m1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 950,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e65491e9cb09f59a",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 Fw EMS 30200",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "30200",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "53d9b5bec625a7a9"
            ],
            []
        ]
    },
    {
        "id": "53d9b5bec625a7a9",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "ems",
        "func": "var ems2 = msg.payload ;\n\n\nreturn [{ payload:ems2}]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1230,
        "wires": [
            [
                "ede2f2acea56c368"
            ]
        ]
    },
    {
        "id": "ede2f2acea56c368",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "ems2",
        "label": "ems m2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 950,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fcd62c92df2adbcc",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 1390,
        "wires": [
            [
                "860e4a9718526df3",
                "928fc0d249208017"
            ]
        ]
    },
    {
        "id": "179ef287d781ac9f",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "vns",
        "func": "var vns1 = msg.payload ;\n\n\nreturn [{ payload: vns1 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1380,
        "wires": [
            [
                "e0d526c695465ea7"
            ]
        ]
    },
    {
        "id": "e0d526c695465ea7",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "vns1",
        "label": "vns m1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 940,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c07dd1d02ceea20d",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 vns 30202",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "30202",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "610ad89a519f6dea"
            ],
            []
        ]
    },
    {
        "id": "4118c8cd44394ce2",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 1460,
        "wires": [
            [
                "c07dd1d02ceea20d",
                "faa35974dfbefbe2"
            ]
        ]
    },
    {
        "id": "610ad89a519f6dea",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "vns",
        "func": "var vns2 = msg.payload ;\n\n\nreturn [{ payload: vns2 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1450,
        "wires": [
            [
                "38e97ec0d8b4f15f"
            ]
        ]
    },
    {
        "id": "38e97ec0d8b4f15f",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "vns2",
        "label": "vns m2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 940,
        "y": 1450,
        "wires": []
    },
    {
        "id": "2401a806464361bd",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 bms 30204",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30204",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1620,
        "wires": [
            [
                "aa5f92467835099b"
            ],
            []
        ]
    },
    {
        "id": "928fc0d249208017",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 1620,
        "wires": [
            [
                "2401a806464361bd",
                "a113aca7532c0993"
            ]
        ]
    },
    {
        "id": "aa5f92467835099b",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms1 = msg.payload ;\n\n\nreturn [{ payload: bms1 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1620,
        "wires": [
            [
                "7d061dff5246ae08"
            ]
        ]
    },
    {
        "id": "7d061dff5246ae08",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "bms1",
        "label": "bms m1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 940,
        "y": 1620,
        "wires": []
    },
    {
        "id": "8aac838b8209e6bf",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 bms 30204",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "30204",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 560,
        "y": 1860,
        "wires": [
            [
                "8cef7f0cb3c76b72"
            ],
            []
        ]
    },
    {
        "id": "faa35974dfbefbe2",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 1860,
        "wires": [
            [
                "8aac838b8209e6bf",
                "a43c07b59668ac93"
            ]
        ]
    },
    {
        "id": "8cef7f0cb3c76b72",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms2 = msg.payload ;\n\n\nreturn [{ payload: bms2 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1860,
        "wires": [
            [
                "2aea6d97845f719f"
            ]
        ]
    },
    {
        "id": "2aea6d97845f719f",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "bms2",
        "label": "bms m2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 930,
        "y": 1860,
        "wires": []
    },
    {
        "id": "0f755ec9da96ab70",
        "type": "inject",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1190,
        "wires": [
            [
                "55f54e3e41cf6eeb",
                "e65491e9cb09f59a",
                "fcd62c92df2adbcc",
                "4118c8cd44394ce2"
            ]
        ]
    },
    {
        "id": "1de232ccbe3a6627",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "group": "fdfbcd5b55b1a3c1",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reboot M1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "21930",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 3200,
        "wires": [
            [
                "27db4f2a7394de43"
            ]
        ]
    },
    {
        "id": "0ac1595261c51afa",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "group": "fdfbcd5b55b1a3c1",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reboot M2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "21930",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 3270,
        "wires": [
            [
                "9b34d7b4a2d6f534"
            ]
        ]
    },
    {
        "id": "d649eedb20aeb086",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Modbus Write 41000 ( reboot, M1)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "41000",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 720,
        "y": 3200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "202cab74b518d38a",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Modbus Write 41000 ( reboot, M2)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "41000",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 720,
        "y": 3270,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "27db4f2a7394de43",
        "type": "ui_are_you_sure",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "group": "fdfbcd5b55b1a3c1",
        "iconColor": "#ffcc00",
        "textColor": "#fa0505",
        "backgroundColor": "#19e119",
        "icon": "fa fa-exclamation-triangle",
        "title": "Are You Sure?",
        "description": "Reboot?",
        "timeoutSec": "8",
        "x": 450,
        "y": 3200,
        "wires": [
            [
                "d649eedb20aeb086"
            ],
            []
        ]
    },
    {
        "id": "9b34d7b4a2d6f534",
        "type": "ui_are_you_sure",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "group": "fdfbcd5b55b1a3c1",
        "iconColor": "#ffcc00",
        "textColor": "#fa0505",
        "backgroundColor": "#19e119",
        "icon": "fa fa-exclamation-triangle",
        "title": "Are You Sure?",
        "description": "Reboot?",
        "timeoutSec": "8",
        "x": 450,
        "y": 3270,
        "wires": [
            [
                "202cab74b518d38a"
            ],
            []
        ]
    },
    {
        "id": "51297deab6c3defd",
        "type": "api-call-service",
        "z": "a01a6ad43ae20262",
        "g": "49899ceb8de2b9cf",
        "name": "Network Marstek",
        "server": "6ad6bd245c78b95a",
        "version": 7,
        "debugenabled": false,
        "action": "switch.toggle",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "bd64baf2c09c8856d7b9fbfee5161b2f"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "toggle",
        "x": 800,
        "y": 3470,
        "wires": [
            []
        ]
    },
    {
        "id": "607843ec48028f5e",
        "type": "ui_switch",
        "z": "a01a6ad43ae20262",
        "g": "49899ceb8de2b9cf",
        "name": "Network Switch",
        "label": "Network Switch",
        "tooltip": "reset modbus",
        "group": "fdfbcd5b55b1a3c1",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 560,
        "y": 3470,
        "wires": [
            [
                "51297deab6c3defd"
            ]
        ]
    },
    {
        "id": "1b0380988bf0e44a",
        "type": "inject",
        "z": "a01a6ad43ae20262",
        "d": true,
        "g": "49899ceb8de2b9cf",
        "name": "init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "45",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 3470,
        "wires": [
            [
                "607843ec48028f5e"
            ]
        ]
    },
    {
        "id": "d37af88dd8ec16f2",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 cycle counter 34003",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34003",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 2150,
        "wires": [
            [
                "67bee90ddeb0f4a4"
            ],
            []
        ]
    },
    {
        "id": "aa00c90ccb176f5d",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 2150,
        "wires": [
            [
                "d37af88dd8ec16f2",
                "709034dbded7c2be"
            ]
        ]
    },
    {
        "id": "67bee90ddeb0f4a4",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "#",
        "func": "var bms1 = msg.payload ;\n\n\nreturn [{ payload: bms1 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 2150,
        "wires": [
            [
                "47f3449094f8c168"
            ]
        ]
    },
    {
        "id": "47f3449094f8c168",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "# cycles 1",
        "label": "# Cycles M1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 930,
        "y": 2150,
        "wires": []
    },
    {
        "id": "6167071492062968",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 cycle counter 34003",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "34003",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 580,
        "y": 2220,
        "wires": [
            [
                "a0d8656c076c2422"
            ],
            []
        ]
    },
    {
        "id": "5fe0ef8fc4c7d450",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 2220,
        "wires": [
            [
                "6167071492062968",
                "db3d2a06a14520e0"
            ]
        ]
    },
    {
        "id": "a0d8656c076c2422",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "#",
        "func": "var bms2 = msg.payload ;\n\n\nreturn [{ payload: bms2 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 2220,
        "wires": [
            [
                "ab1e250734ab2f2e"
            ]
        ]
    },
    {
        "id": "ab1e250734ab2f2e",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "# cycles 2",
        "label": "# Cycles M2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 930,
        "y": 2220,
        "wires": []
    },
    {
        "id": "771b2d3b4cac2a88",
        "type": "inject",
        "z": "a01a6ad43ae20262",
        "g": "49899ceb8de2b9cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger",
        "x": 170,
        "y": 3530,
        "wires": [
            [
                "650b3ff1b3d769b9"
            ]
        ]
    },
    {
        "id": "650b3ff1b3d769b9",
        "type": "trigger",
        "z": "a01a6ad43ae20262",
        "g": "49899ceb8de2b9cf",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "num",
        "op2type": "num",
        "duration": "25",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 3530,
        "wires": [
            [
                "607843ec48028f5e"
            ]
        ]
    },
    {
        "id": "69a406ac75910f63",
        "type": "link in",
        "z": "a01a6ad43ae20262",
        "g": "49899ceb8de2b9cf",
        "name": "Modbus alive?",
        "links": [
            "76b15d133b5a1acc"
        ],
        "x": 405,
        "y": 3420,
        "wires": [
            [
                "607843ec48028f5e"
            ]
        ]
    },
    {
        "id": "2fff406a8905552a",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 SOC_p1 34002",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34002",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 600,
        "y": 2340,
        "wires": [
            [
                "01b78e74e7fe83d7"
            ],
            []
        ]
    },
    {
        "id": "709034dbded7c2be",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 2340,
        "wires": [
            [
                "82f1c89b722c078e",
                "2fff406a8905552a"
            ]
        ]
    },
    {
        "id": "82f1c89b722c078e",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 2400,
        "wires": [
            [
                "3ea88af4079e09a9",
                "39ba6f8a494210f6"
            ]
        ]
    },
    {
        "id": "db3d2a06a14520e0",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 2550,
        "wires": [
            [
                "5f459c871d95390f",
                "a74af26ca7a60e87"
            ]
        ]
    },
    {
        "id": "5f459c871d95390f",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 2630,
        "wires": [
            [
                "cba5c726762c50c5",
                "541af38619cfd07f"
            ]
        ]
    },
    {
        "id": "3ea88af4079e09a9",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1 SOC_p2 34102",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34102",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 600,
        "y": 2400,
        "wires": [
            [
                "56eeb127a670993a"
            ],
            []
        ]
    },
    {
        "id": "a74af26ca7a60e87",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 SOC_p1 34002",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34002",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 590,
        "y": 2550,
        "wires": [
            [
                "b74d5be9e7643aa4"
            ],
            []
        ]
    },
    {
        "id": "cba5c726762c50c5",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2 SOC_p2 34102",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34102",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "8da3c29bf8507238"
            ],
            []
        ]
    },
    {
        "id": "01b78e74e7fe83d7",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Soc1.1",
        "label": "SocM1.1",
        "format": "{{msg.payload}} x 0.1%",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 790,
        "y": 2340,
        "wires": []
    },
    {
        "id": "56eeb127a670993a",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Soc1.2",
        "label": "SocM1.2",
        "format": "{{msg.payload}} x 0.1%",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 790,
        "y": 2400,
        "wires": []
    },
    {
        "id": "b74d5be9e7643aa4",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Soc2.1",
        "label": "SocM2.1",
        "format": "{{msg.payload}} x 0.1%",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 780,
        "y": 2550,
        "wires": []
    },
    {
        "id": "8da3c29bf8507238",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Soc2.2",
        "label": "SocM2.2",
        "format": "{{msg.payload}} x 0.1%",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 780,
        "y": 2620,
        "wires": []
    },
    {
        "id": "992114ad79077f70",
        "type": "modbus-flex-sequencer",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "cel voltage M1.1",
        "sequences": [
            {
                "name": "cel voltage",
                "unitid": "1",
                "fc": "FC3",
                "address": "34018",
                "quantity": "13"
            }
        ],
        "server": "67aa8a7899544f4d",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 2760,
        "wires": [
            [
                "d68248f6aabf58ba"
            ],
            []
        ]
    },
    {
        "id": "39ba6f8a494210f6",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 2760,
        "wires": [
            [
                "992114ad79077f70",
                "d0768457cc978fe8"
            ]
        ]
    },
    {
        "id": "3c68c75972d93292",
        "type": "modbus-flex-sequencer",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "cel voltage M1.2",
        "sequences": [
            {
                "name": "cel voltage",
                "unitid": "1",
                "fc": "FC3",
                "address": "34118",
                "quantity": "13"
            }
        ],
        "server": "67aa8a7899544f4d",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 2830,
        "wires": [
            [
                "da9dd12fd49ed84b"
            ],
            []
        ]
    },
    {
        "id": "d0768457cc978fe8",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 2830,
        "wires": [
            [
                "3c68c75972d93292"
            ]
        ]
    },
    {
        "id": "d68248f6aabf58ba",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Cell 1.1",
        "label": "Cell Voltage M1.1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "10",
        "color": "#64c832",
        "x": 780,
        "y": 2770,
        "wires": []
    },
    {
        "id": "da9dd12fd49ed84b",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "Cell 1.2",
        "label": "Cell Voltage M1.2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "10",
        "color": "#64c832",
        "x": 780,
        "y": 2840,
        "wires": []
    },
    {
        "id": "541af38619cfd07f",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 2970,
        "wires": [
            [
                "ec92d6bcfd4b9619",
                "db74a1d79fe51325"
            ]
        ]
    },
    {
        "id": "ec92d6bcfd4b9619",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 3050,
        "wires": [
            [
                "4a93fa4dd86378f5"
            ]
        ]
    },
    {
        "id": "db74a1d79fe51325",
        "type": "modbus-flex-sequencer",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "cel voltage M2.1",
        "sequences": [
            {
                "name": "cel voltage",
                "unitid": "1",
                "fc": "FC3",
                "address": "34018",
                "quantity": "13"
            }
        ],
        "server": "f821200b3de634c4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 2970,
        "wires": [
            [
                "d4ceb50ad3105e2c"
            ],
            []
        ]
    },
    {
        "id": "4a93fa4dd86378f5",
        "type": "modbus-flex-sequencer",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "cel voltage M2.2",
        "sequences": [
            {
                "name": "cel voltage",
                "unitid": "1",
                "fc": "FC3",
                "address": "34118",
                "quantity": "13"
            }
        ],
        "server": "f821200b3de634c4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 3050,
        "wires": [
            [
                "2a190b9e9654cc1e"
            ],
            []
        ]
    },
    {
        "id": "d4ceb50ad3105e2c",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "Cell 2.1",
        "label": "Cell Voltage M2.1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "10",
        "color": "#64c832",
        "x": 780,
        "y": 2980,
        "wires": []
    },
    {
        "id": "2a190b9e9654cc1e",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "3a87a93282fd4450",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Cell 2.2",
        "label": "Cell Voltage M2.2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "10",
        "color": "#64c832",
        "x": 780,
        "y": 3060,
        "wires": []
    },
    {
        "id": "09463f2c9c288b44",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "5d69c190c353e51a",
        "name": "Version 1.10",
        "info": "1.00 expanded tooling, for 3th battery just copy nodes\n1.01 added soc and fw version per stacked battery, soc is in 0.1% accuracy\n1.10 Cleaned up for new release",
        "x": 950,
        "y": 150,
        "wires": []
    },
    {
        "id": "5b840baca598e956",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1.1  bms 34010",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34010",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 1040,
        "y": 1680,
        "wires": [
            [
                "9c69a636b7019cbd"
            ],
            []
        ]
    },
    {
        "id": "a113aca7532c0993",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1680,
        "wires": [
            [
                "5b840baca598e956",
                "832aed0a4f1c2a19"
            ]
        ]
    },
    {
        "id": "9c69a636b7019cbd",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms1 = msg.payload ;\n\n\nreturn [{ payload: bms1 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1680,
        "wires": [
            [
                "893ea7b7dd9b9698"
            ]
        ]
    },
    {
        "id": "893ea7b7dd9b9698",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "bms1.1",
        "label": "bms m1.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 1400,
        "y": 1680,
        "wires": []
    },
    {
        "id": "8d18fa5935b63114",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 1.2  bms 34110",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34110",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 1040,
        "y": 1750,
        "wires": [
            [
                "50970ddb03e5a656"
            ],
            []
        ]
    },
    {
        "id": "832aed0a4f1c2a19",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1750,
        "wires": [
            [
                "8d18fa5935b63114",
                "aa00c90ccb176f5d"
            ]
        ]
    },
    {
        "id": "50970ddb03e5a656",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms1 = msg.payload ;\n\n\nreturn [{ payload: bms1 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1750,
        "wires": [
            [
                "45c1c519c2dc955a"
            ]
        ]
    },
    {
        "id": "45c1c519c2dc955a",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "bms1.2",
        "label": "bms m1.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 1400,
        "y": 1750,
        "wires": []
    },
    {
        "id": "a2da300966ea1380",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2.1  bms 34010",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34010",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 1040,
        "y": 1940,
        "wires": [
            [
                "8b244b31194d11b4"
            ],
            []
        ]
    },
    {
        "id": "a43c07b59668ac93",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 1940,
        "wires": [
            [
                "a2da300966ea1380",
                "97856053edb863e5"
            ]
        ]
    },
    {
        "id": "8b244b31194d11b4",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms2 = msg.payload ;\n\n\nreturn [{ payload: bms2 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1940,
        "wires": [
            [
                "3cf6e3414440ea2f"
            ]
        ]
    },
    {
        "id": "3cf6e3414440ea2f",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "bms2.1",
        "label": "bms m2.1",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 1410,
        "y": 1940,
        "wires": []
    },
    {
        "id": "dc902ad0fd1874a3",
        "type": "modbus-getter",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "Marstek 2.2  bms 34110",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "34110",
        "quantity": "1",
        "server": "f821200b3de634c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 1040,
        "y": 2000,
        "wires": [
            [
                "da7f34c115b6b48e"
            ],
            []
        ]
    },
    {
        "id": "97856053edb863e5",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 2000,
        "wires": [
            [
                "dc902ad0fd1874a3",
                "5fe0ef8fc4c7d450"
            ]
        ]
    },
    {
        "id": "da7f34c115b6b48e",
        "type": "function",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms",
        "func": "var bms2 = msg.payload ;\n\n\nreturn [{ payload: bms2 }]\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 2000,
        "wires": [
            [
                "05e117056b64c76e"
            ]
        ]
    },
    {
        "id": "05e117056b64c76e",
        "type": "ui_text",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "group": "fdfbcd5b55b1a3c1",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "bms2.2",
        "label": "bms m2.2",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#64c832",
        "x": 1410,
        "y": 2000,
        "wires": []
    },
    {
        "id": "12092995d2c4f607",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "25597664dd01656b",
        "name": "bms version per battery stacked",
        "info": "",
        "x": 1220,
        "y": 1630,
        "wires": []
    },
    {
        "id": "6394935bf3156509",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1310,
        "y": 330,
        "wires": [
            [
                "20b329116c55b5a6",
                "891e10699ac66943"
            ]
        ]
    },
    {
        "id": "1115f5fbf659055a",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "Modbus Write 42000 ( RS485, M1)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "42000",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1810,
        "y": 270,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a349f17fcc963dd9",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "trigger rs485",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "21930",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 270,
        "wires": [
            [
                "1115f5fbf659055a",
                "7b4290e3a3dde7a5"
            ]
        ]
    },
    {
        "id": "36456f0912bf41a1",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "Force Mode M1",
        "info": "Schrijf 21930 naar 42000.\nSchrijf 95% naar 42011.\nSchrijf 1 naar 43000 (Zet in Self-Consumption modus)",
        "x": 1190,
        "y": 150,
        "wires": []
    },
    {
        "id": "ee9f4a03497e2482",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "trigger rs485",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "21947",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 430,
        "wires": [
            [
                "ae37212bb48c9120",
                "7b4290e3a3dde7a5"
            ]
        ]
    },
    {
        "id": "6cb3d0341bea4737",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 430,
        "wires": [
            [
                "ee9f4a03497e2482"
            ]
        ]
    },
    {
        "id": "ae37212bb48c9120",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "Modbus Write 42000 ( RS485, M1)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "42000",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1810,
        "y": 430,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6a440a0225e44ff7",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "Modbus Write 42021 ( DisCh pwr, M1)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "42021",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1830,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b9173903c5b35b15",
        "type": "modbus-write",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "Modbus Write 44003 (MAX DisCh pwr, M1)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "44003",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1870,
        "y": 330,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a0aae931f8690ba0",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "marstek_power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "marstek_power",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 380,
        "wires": [
            [
                "6a440a0225e44ff7",
                "7b4290e3a3dde7a5"
            ]
        ]
    },
    {
        "id": "20b329116c55b5a6",
        "type": "change",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "1500",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 330,
        "wires": [
            [
                "b9173903c5b35b15",
                "7b4290e3a3dde7a5"
            ]
        ]
    },
    {
        "id": "891e10699ac66943",
        "type": "delay",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "6cb3d0341bea4737",
                "a0aae931f8690ba0"
            ]
        ]
    },
    {
        "id": "1e016be7d987cded",
        "type": "ui_button",
        "z": "a01a6ad43ae20262",
        "d": true,
        "g": "15a071569744a046",
        "name": "",
        "group": "",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "max pwr M1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 270,
        "wires": [
            [
                "b28abded5955833b"
            ]
        ]
    },
    {
        "id": "c19f57e46d99df8a",
        "type": "inject",
        "z": "a01a6ad43ae20262",
        "d": true,
        "g": "15a071569744a046",
        "name": "set",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1560,
        "y": 140,
        "wires": [
            [
                "b28abded5955833b"
            ]
        ]
    },
    {
        "id": "7b4290e3a3dde7a5",
        "type": "debug",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 240,
        "wires": []
    },
    {
        "id": "a34d59670364084d",
        "type": "comment",
        "z": "a01a6ad43ae20262",
        "g": "15a071569744a046",
        "name": "work arround for max 1500W discharge issue | Enable Set",
        "info": "this flow sets the power selected with the \nslider in the UI to the max discharge register\n\n\nI have 2 venus A sets and one has this problem caused by \nsomething in the firmware.",
        "x": 1550,
        "y": 180,
        "wires": []
    },
    {
        "id": "949aac70b12b16d3",
        "type": "ui_spacer",
        "z": "a01a6ad43ae20262",
        "name": "spacer",
        "group": "fdfbcd5b55b1a3c1",
        "order": 15,
        "width": "6",
        "height": "1"
    },
    {
        "id": "bbc7c21fa70f301e",
        "type": "ui_group",
        "name": "Modbus test tool M1",
        "tab": "ba2cf45331ca6172",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "67aa8a7899544f4d",
        "type": "modbus-client",
        "name": "Marstek 1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.7",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7667c6660a73ce8b",
        "type": "ui_group",
        "name": "Modbus test tool M2",
        "tab": "ba2cf45331ca6172",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "f821200b3de634c4",
        "type": "modbus-client",
        "name": "Marstek 2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.8",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03b65d071c6d10e4",
        "type": "ui_group",
        "name": "Modbus test tool M3",
        "tab": "ba2cf45331ca6172",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "b97d617ade918f2a",
        "type": "modbus-client",
        "name": "Marstek 3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.9",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fdfbcd5b55b1a3c1",
        "type": "ui_group",
        "name": "Firmware info",
        "tab": "ba2cf45331ca6172",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "6ad6bd245c78b95a",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "3a87a93282fd4450",
        "type": "ui_group",
        "name": "other",
        "tab": "ba2cf45331ca6172",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "ba2cf45331ca6172",
        "type": "ui_tab",
        "name": "Tools",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74f6db1d07541ba1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-modbus": "5.45.2",
            "node-red-contrib-ui-areyousure": "0.1.0",
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]