Zonneplan (1.10).json
[
    {
        "id": "c111b612cbe93b7b",
        "type": "tab",
        "label": "ZonnePlan_needs token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57f4d4821cd96244",
        "type": "group",
        "z": "c111b612cbe93b7b",
        "name": "Get price data from enever (zonneplan or other)",
        "style": {
            "stroke": "#000000",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5303680f06c94772",
            "428749cd2e03e7d0",
            "b21fcae985c68f9d",
            "cde83f739d8bd099",
            "912cec2e295be143",
            "e368a86c7450c2f4",
            "ff4cc6b5ee26df73",
            "a6c944e38507b0cc",
            "59a8b3ab21c62399",
            "9ff1ec37e41bb490",
            "bae67811e2a048ef",
            "736ccf3c9f2b4118",
            "c23bbd22309cb74f",
            "1033014349a4f229",
            "98baeddb2c291230",
            "b1c9711297f4298a",
            "8af1a97a62de0881",
            "ef79ffcb5f728225",
            "6acfbaa03fb16e9a",
            "f9c55d7c291207de",
            "99263661869b92b3",
            "9b643a2e6fafd6ee",
            "caba8745de0cb40f",
            "a74ee28c00e4f746",
            "fc019936f6cf0003",
            "c8d0ff12ad08c7a7",
            "c46f40fe58dbc655",
            "9b7a152393051eb1",
            "a92961bcf72de20a"
        ],
        "x": 164,
        "y": 79,
        "w": 1382,
        "h": 582
    },
    {
        "id": "5d5ad91012be800e",
        "type": "group",
        "z": "c111b612cbe93b7b",
        "name": "UI selection",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ab38214724a9261d",
            "aabbe0707264bd97",
            "2e237838588a6330",
            "efe1d0e30ebcb8e2",
            "5186d3fe294ae31a",
            "2ca29c11d177445a",
            "1442af24cf54ba64",
            "986840cc76923159",
            "7fc1a92e052e7077",
            "a71eea887236837b",
            "f50f0b4b407d28d3",
            "44482644c166b0de",
            "90f48c2f96344286",
            "d157294ae45c8075",
            "a0906929383adec5",
            "778f778e033ea167",
            "52a4dea7977ac20e",
            "1de5e8f071614eca",
            "cfd807fefa9a304e",
            "3f227535a6e39cfc",
            "c13d2f6a4f7c0ba1",
            "68bd1d1987106ff4"
        ],
        "x": 114,
        "y": 749,
        "w": 792,
        "h": 742
    },
    {
        "id": "fc019936f6cf0003",
        "type": "junction",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "x": 960,
        "y": 210,
        "wires": [
            [
                "428749cd2e03e7d0",
                "ef79ffcb5f728225"
            ]
        ]
    },
    {
        "id": "5303680f06c94772",
        "type": "json",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 820,
        "y": 210,
        "wires": [
            [
                "fc019936f6cf0003"
            ]
        ]
    },
    {
        "id": "428749cd2e03e7d0",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 995,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "b21fcae985c68f9d",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "15h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "a92961bcf72de20a"
            ]
        ]
    },
    {
        "id": "cde83f739d8bd099",
        "type": "change",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Global save ZonneplanTijdsloten",
        "rules": [
            {
                "t": "set",
                "p": "ZonneplanTijdsloten",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "912cec2e295be143",
        "type": "file in",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "filename": "/home/pi/prijs.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 410,
        "wires": [
            [
                "ff4cc6b5ee26df73",
                "5303680f06c94772"
            ]
        ]
    },
    {
        "id": "e368a86c7450c2f4",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Reload ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 450,
        "y": 370,
        "wires": [
            [
                "912cec2e295be143"
            ]
        ]
    },
    {
        "id": "ff4cc6b5ee26df73",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 63",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 795,
        "y": 410,
        "wires": [],
        "l": false
    },
    {
        "id": "a6c944e38507b0cc",
        "type": "comment",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Version 0.03",
        "info": "0.01 initial version (obtaine a token at enever.nl)\n0.02 improved save to file\n0.03 added Forecast price info",
        "x": 1430,
        "y": 120,
        "wires": []
    },
    {
        "id": "59a8b3ab21c62399",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "3h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 190,
        "wires": [
            [
                "a92961bcf72de20a"
            ]
        ]
    },
    {
        "id": "9ff1ec37e41bb490",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "1 if NaN",
        "func": "var price = msg.payload ;\n\nif (isNaN(price)){\n    msg.payload = 1\n}\nelse{\n    msg.payload = null\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "736ccf3c9f2b4118"
            ]
        ]
    },
    {
        "id": "bae67811e2a048ef",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "912cec2e295be143"
            ]
        ]
    },
    {
        "id": "736ccf3c9f2b4118",
        "type": "rbe",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "c23bbd22309cb74f",
                "912cec2e295be143"
            ]
        ]
    },
    {
        "id": "c23bbd22309cb74f",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 64",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 605,
        "y": 560,
        "wires": [],
        "l": false
    },
    {
        "id": "1033014349a4f229",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 65",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1265,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "98baeddb2c291230",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 66",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1245,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "b1c9711297f4298a",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 67",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1265,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "8af1a97a62de0881",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "debug 68",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 685,
        "y": 250,
        "wires": [],
        "l": false
    },
    {
        "id": "ef79ffcb5f728225",
        "type": "switch",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "valid?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 210,
        "wires": [
            [
                "1033014349a4f229",
                "cde83f739d8bd099",
                "f9c55d7c291207de",
                "b1c9711297f4298a"
            ],
            [
                "98baeddb2c291230"
            ]
        ]
    },
    {
        "id": "6acfbaa03fb16e9a",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"status\":\"true\",\"data\":[{\"datum\":\"2026-05-28T00:00:00+02:00\",\"prijs\":\"0.125170\",\"prijsZP\":\"0.282306\"},{\"datum\":\"2026-05-28T01:00:00+02:00\",\"prijs\":\"0.116502\",\"prijsZP\":\"0.271818\"},{\"datum\":\"2026-05-28T02:00:00+02:00\",\"prijs\":\"0.115085\",\"prijsZP\":\"0.270103\"},{\"datum\":\"2026-05-07T03:00:00+02:00\",\"prijs\":\"0.115572\",\"prijsZP\":\"0.270693\"},{\"datum\":\"2026-05-07T04:00:00+02:00\",\"prijs\":\"0.117032\",\"prijsZP\":\"0.272459\"},{\"datum\":\"2026-05-07T05:00:00+02:00\",\"prijs\":\"0.124398\",\"prijsZP\":\"0.281371\"},{\"datum\":\"2026-05-07T06:00:00+02:00\",\"prijs\":\"0.147220\",\"prijsZP\":\"0.308986\"},{\"datum\":\"2026-05-07T07:00:00+02:00\",\"prijs\":\"0.162728\",\"prijsZP\":\"0.327750\"},{\"datum\":\"2026-05-07T08:00:00+02:00\",\"prijs\":\"0.154252\",\"prijsZP\":\"0.317496\"},{\"datum\":\"2026-05-07T09:00:00+02:00\",\"prijs\":\"0.123778\",\"prijsZP\":\"0.280621\"},{\"datum\":\"2026-05-07T10:00:00+02:00\",\"prijs\":\"0.107025\",\"prijsZP\":\"0.260350\"},{\"datum\":\"2026-05-07T11:00:00+02:00\",\"prijs\":\"0.097332\",\"prijsZP\":\"0.248622\"},{\"datum\":\"2026-05-07T12:00:00+02:00\",\"p...",
        "x": 270,
        "y": 410,
        "wires": [
            [
                "912cec2e295be143"
            ]
        ]
    },
    {
        "id": "f9c55d7c291207de",
        "type": "file",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "filename": "/home/pi/prijs.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1330,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "99263661869b92b3",
        "type": "ui_button",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "group": "78f49ffbd11e559b",
        "order": 12,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Reload prices from file",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 490,
        "y": 330,
        "wires": [
            [
                "912cec2e295be143"
            ]
        ]
    },
    {
        "id": "9b643a2e6fafd6ee",
        "type": "comment",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Reload",
        "info": "",
        "x": 630,
        "y": 330,
        "wires": []
    },
    {
        "id": "caba8745de0cb40f",
        "type": "comment",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Storage",
        "info": "",
        "x": 1470,
        "y": 260,
        "wires": []
    },
    {
        "id": "a74ee28c00e4f746",
        "type": "comment",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "fault?",
        "info": "",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "c8d0ff12ad08c7a7",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 620,
        "wires": [
            [
                "9b7a152393051eb1"
            ]
        ]
    },
    {
        "id": "c46f40fe58dbc655",
        "type": "ui_chart",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "",
        "group": "78f49ffbd11e559b",
        "order": 14,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9b7a152393051eb1",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "Prep graph",
        "func": "var invoerData = global.get(\"ZonneplanTijdsloten.data\") || [];\n\nvar lijnPrijs = [];\nvar lijnPrijsZP = [];\nvar markerNu = [];\n\nvar nu = new Date();\nnu.setMinutes(0, 0, 0);\nvar huidigUur = nu.getTime();\n\nvar huidigePrijs = null;\nvar minPrijs = Infinity;\nvar maxPrijs = -Infinity;\n\nfor (var i = 0; i < invoerData.length; i++) {\n    var item = invoerData[i];\n\n    var datum = new Date(item.datum);\n    var timestamp = datum.getTime();\n\n    var datumUur = new Date(item.datum);\n    datumUur.setMinutes(0, 0, 0);\n    var timestampUur = datumUur.getTime();\n\n    var prijs = Number(item.prijs);\n    var prijsZP = Number(item.prijsZP);\n\n    lijnPrijs.push({ x: timestamp, y: prijs });\n    lijnPrijsZP.push({ x: timestamp, y: prijsZP });\n\n    if (!isNaN(prijs)) {\n        minPrijs = Math.min(minPrijs, prijs);\n        maxPrijs = Math.max(maxPrijs, prijs);\n    }\n\n    if (!isNaN(prijsZP)) {\n        minPrijs = Math.min(minPrijs, prijsZP);\n        maxPrijs = Math.max(maxPrijs, prijsZP);\n    }\n\n    if (timestampUur === huidigUur) {\n        huidigePrijs = prijs;\n    }\n}\n\n// verticale marker maken\nif (huidigePrijs !== null && minPrijs !== Infinity && maxPrijs !== -Infinity) {\n    markerNu.push({ x: huidigUur, y: minPrijs });\n    markerNu.push({ x: huidigUur, y: maxPrijs });\n}\n\nmsg.payload = [{\n    series: [\"Price\", \"Price All in\", \"Now\"],\n    data: [lijnPrijs, lijnPrijsZP, markerNu]\n}];\n\nif (huidigePrijs !== null && !isNaN(huidigePrijs)) {\n    msg.ui_control = {\n        options: {\n            title: \"Huidige prijs: \" + Number(huidigePrijs).toFixed(2) + \" ct/kWh\"\n        }\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 620,
        "wires": [
            [
                "c46f40fe58dbc655"
            ]
        ]
    },
    {
        "id": "a92961bcf72de20a",
        "type": "http request",
        "z": "c111b612cbe93b7b",
        "g": "57f4d4821cd96244",
        "name": "http request | Provide valid token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://enever.nl/apiv3/stroomprijs_vandaag.php?token=YOUR_TOKEN&resolution=60&price=prijs,prijsZP",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 210,
        "wires": [
            [
                "5303680f06c94772",
                "8af1a97a62de0881"
            ]
        ]
    },
    {
        "id": "ab38214724a9261d",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Build cheap/expensive hour lists",
        "func": "let raw = global.get('ZonneplanTijdsloten');\nif (!raw || !raw.data || !Array.isArray(raw.data) || raw.data.length < 24) {\n    node.status({fill:'red',shape:'ring',text:'no ZonneplanTijdsloten'});\n    return null;\n}\n\nconst cheapCount = 4;\nconst expensiveMaxCount = 8;\nconst minSpread = 0.08;   // 8 cent boven goedkoopste uur\n\nlet uren = raw.data.map((item, index) => ({\n    uur: index,\n    prijs: Number(item.prijsZP)\n})).filter(x => !isNaN(x.prijs));\n\nif (uren.length === 0) {\n    node.status({fill:'red',shape:'ring',text:'no valid prices'});\n    return null;\n}\n\nlet goedkoopstePrijs = Math.min(...uren.map(x => x.prijs));\n\nlet cheapHours = [...uren]\n    .sort((a, b) => a.prijs - b.prijs)\n    .slice(0, cheapCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nlet expensiveHours = [...uren]\n    .filter(x => x.prijs >= (goedkoopstePrijs + minSpread))\n    .sort((a, b) => b.prijs - a.prijs)\n    .slice(0, expensiveMaxCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nfunction mergeHoursToSlots(hours) {\n    if (!hours.length) return [];\n    let slots = [];\n    let start = hours[0];\n    let end = hours[0];\n    for (let i = 1; i < hours.length; i++) {\n        if (hours[i] === end + 1) {\n            end = hours[i];\n        } else {\n            slots.push({\n                starttijd: start.toString().padStart(2, '0') + ':00',\n                eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n            });\n            start = hours[i];\n            end = hours[i];\n        }\n    }\n    slots.push({\n        starttijd: start.toString().padStart(2, '0') + ':00',\n        eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n    });\n    return slots;\n}\n\nlet cheapSlots = mergeHoursToSlots(cheapHours);\nlet expensiveSlots = mergeHoursToSlots(expensiveHours);\n\nglobal.set('ZonneplanCheapHours', cheapHours);\nglobal.set('ZonneplanCheapSlots', cheapSlots);\nglobal.set('ZonneplanExpensiveHours', expensiveHours);\nglobal.set('ZonneplanExpensiveSlots', expensiveSlots);\n\nmsg.payload = {\n    cheapHours,\n    cheapSlots,\n    expensiveHours,\n    expensiveSlots,\n    goedkoopstePrijs\n};\n\nnode.status({fill:'green',shape:'dot',text:'cheap ' + cheapHours.join(',') + ' | exp ' + expensiveHours.join(',')});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 1450,
        "wires": [
            []
        ]
    },
    {
        "id": "aabbe0707264bd97",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "PVSurplusW",
        "func": "//var solarpwr = Number(global.get(\"SolarPwr\")[0]);\n//var actualuse = Number(global.get(\"ActualUse\")[0]) ;\n//var surplus = solarpwr - actualuse ; //or negative p1 power\n\nvar p1pwr = Number(global.get(\"P1Power\"))\n\nif(p1pwr < 0){\n    p1pwr = Math.abs(p1pwr)\n    global.set(\"PVSurplusW\" ,p1pwr) \n}\n\nelse {\n    p1pwr = 0 \n    global.set(\"PVSurplusW\" ,p1pwr)\n}\nmsg.payload = p1pwr ;\n\nnode.status({fill:'green',shape:'ring',text:'Surplus ' + p1pwr});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1270,
        "wires": [
            [
                "986840cc76923159"
            ]
        ]
    },
    {
        "id": "2e237838588a6330",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "1 sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1270,
        "wires": [
            [
                "aabbe0707264bd97",
                "c13d2f6a4f7c0ba1"
            ]
        ]
    },
    {
        "id": "efe1d0e30ebcb8e2",
        "type": "inject",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1070,
        "wires": [
            [
                "2ca29c11d177445a",
                "a71eea887236837b",
                "f50f0b4b407d28d3",
                "90f48c2f96344286",
                "52a4dea7977ac20e",
                "cfd807fefa9a304e"
            ]
        ]
    },
    {
        "id": "5186d3fe294ae31a",
        "type": "change",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "ZonneplanCurrentHour",
        "rules": [
            {
                "t": "set",
                "p": "ZonneplanCurrentHour",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 830,
        "wires": [
            []
        ]
    },
    {
        "id": "2ca29c11d177445a",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Price current hour (Zonneplan)",
        "func": "msg.payload = global.get(\"ZonneplanTijdsloten\") ;\n\n\nvar date = new Date();\n\nvar Chour = date.getHours() ;\n\n\nvar msg = Number(msg.payload.data[Chour].prijsZP) ;\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Current Price: \" + msg });\nmsg.topic = \"CurrentPrice\" ;\nreturn [{payload: msg}];\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 820,
        "wires": [
            [
                "5186d3fe294ae31a",
                "9ff1ec37e41bb490",
                "1442af24cf54ba64"
            ]
        ]
    },
    {
        "id": "1442af24cf54ba64",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "Current hour",
        "label": "Current hour",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#ff8605",
        "x": 750,
        "y": 790,
        "wires": []
    },
    {
        "id": "986840cc76923159",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "SurPlus",
        "label": "SurPlus",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 580,
        "y": 1270,
        "wires": []
    },
    {
        "id": "7fc1a92e052e7077",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Cheap Hours",
        "label": "Cheap Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#2ec27e",
        "x": 590,
        "y": 1110,
        "wires": []
    },
    {
        "id": "a71eea887236837b",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Cheap hours",
        "func": "msg.payload = global.get(\"EnergyModePayload.cheapHours\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\nmsg.payload = msg.payload.join(', ');\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1110,
        "wires": [
            [
                "7fc1a92e052e7077"
            ]
        ]
    },
    {
        "id": "f50f0b4b407d28d3",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Expensive hours",
        "func": "msg.payload = global.get(\"EnergyModePayload.expensiveHours\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\nmsg.payload = msg.payload.join(', ');\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1150,
        "wires": [
            [
                "44482644c166b0de"
            ]
        ]
    },
    {
        "id": "44482644c166b0de",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Expensive Hours",
        "label": "Expensive Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#f66151",
        "x": 620,
        "y": 1150,
        "wires": []
    },
    {
        "id": "90f48c2f96344286",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Cheap avg",
        "func": "msg.payload = global.get(\"EnergyModePayload.cheapAvg\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "d157294ae45c8075"
            ]
        ]
    },
    {
        "id": "d157294ae45c8075",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Cheap avg",
        "label": "Cheap avg",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#2ec27e",
        "x": 590,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a0906929383adec5",
        "type": "debug",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1380,
        "wires": []
    },
    {
        "id": "778f778e033ea167",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "Build cheap/expensive hour lists V2",
        "func": "let raw = global.get('ZonneplanTijdsloten');\nif (!raw || !raw.data || !Array.isArray(raw.data) || raw.data.length < 24) {\n    node.status({fill:'red',shape:'ring',text:'no ZonneplanTijdsloten'});\n    return null;\n}\n\nconst cheapCount = 4;\nconst expensiveMaxCount = 1; // aantal dure uren voor max ontladen\nconst minSpread = 0.08;      // 8 cent boven gemiddelde goedkope uren\n\nlet uren = raw.data.map((item, index) => ({\n    uur: index,\n    prijs: Number(item.prijsZP)\n})).filter(x => !isNaN(x.prijs));\n\nif (uren.length === 0) {\n    node.status({fill:'red',shape:'ring',text:'no valid prices'});\n    return null;\n}\n\nlet goedkoopstePrijs = Math.min(...uren.map(x => x.prijs));\n\nlet cheapHours = [...uren]\n    .sort((a, b) => a.prijs - b.prijs)\n    .slice(0, cheapCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\n// Gemiddelde prijs van de gekozen goedkope uren berekenen\nlet cheapPrices = uren\n    .filter(x => cheapHours.includes(x.uur))\n    .map(x => x.prijs);\n\nlet cheapAvg = cheapPrices.length\n    ? cheapPrices.reduce((a, b) => a + b, 0) / cheapPrices.length\n    : goedkoopstePrijs;\n\n// Duurste uur berekenen\nlet duurste = [...uren].sort((a, b) => b.prijs - a.prijs)[0];\n\nlet duursteUur = duurste.uur;\nlet duurstePrijs = duurste.prijs;\nlet spreadDuursteVsCheapAvg = duurstePrijs - cheapAvg;\nlet spreadDuursteVsGoedkoopste = duurstePrijs - goedkoopstePrijs;\nlet dischargeAllowed = spreadDuursteVsCheapAvg >= minSpread;\n\n// Alleen het duurste uur kiezen als het genoeg boven cheapAvg ligt\nlet expensiveHours = [...uren]\n    .filter(x => x.prijs >= (cheapAvg + minSpread))\n    .sort((a, b) => b.prijs - a.prijs)\n    .slice(0, expensiveMaxCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nfunction mergeHoursToSlots(hours) {\n    if (!hours.length) return [];\n    let slots = [];\n    let start = hours[0];\n    let end = hours[0];\n\n    for (let i = 1; i < hours.length; i++) {\n        if (hours[i] === end + 1) {\n            end = hours[i];\n        } else {\n            slots.push({\n                starttijd: start.toString().padStart(2, '0') + ':00',\n                eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n            });\n            start = hours[i];\n            end = hours[i];\n        }\n    }\n\n    slots.push({\n        starttijd: start.toString().padStart(2, '0') + ':00',\n        eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n    });\n\n    return slots;\n}\n\nlet cheapSlots = mergeHoursToSlots(cheapHours);\nlet expensiveSlots = mergeHoursToSlots(expensiveHours);\n\nglobal.set('ZonneplanCheapHours', cheapHours);\nglobal.set('ZonneplanCheapSlots', cheapSlots);\nglobal.set('ZonneplanExpensiveHours', expensiveHours);\nglobal.set('ZonneplanExpensiveSlots', expensiveSlots);\nglobal.set('ZonneplanCheapAvg', cheapAvg);\n\nglobal.set('ZonneplanDuursteUur', duursteUur);\nglobal.set('ZonneplanDuurstePrijs', duurstePrijs);\nglobal.set('ZonneplanSpreadDuursteVsCheapAvg', spreadDuursteVsCheapAvg);\nglobal.set('ZonneplanDischargeAllowed', dischargeAllowed);\n\nmsg.payload = {\n    cheapHours,\n    cheapSlots,\n    expensiveHours,\n    expensiveSlots,\n    goedkoopstePrijs,\n    cheapAvg,\n    duursteUur,\n    duurstePrijs,\n    spreadDuursteVsCheapAvg,\n    spreadDuursteVsGoedkoopste,\n    dischargeAllowed\n};\n\nnode.status({\n    fill: dischargeAllowed ? 'green' : 'yellow',\n    shape: 'dot',\n    text:\n        'cheap ' + cheapHours.join(',') +\n        ' | duurste ' + duursteUur +\n        ' €' + duurstePrijs.toFixed(3) +\n        ' spread ' + spreadDuursteVsCheapAvg.toFixed(3)\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1390,
        "wires": [
            [
                "a0906929383adec5"
            ]
        ]
    },
    {
        "id": "52a4dea7977ac20e",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "duurste uur prijs",
        "func": "\nmsg.payload = global.get(\"ZonneplanDuurstePrijs\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "1de5e8f071614eca"
            ]
        ]
    },
    {
        "id": "1de5e8f071614eca",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Expensive hour price",
        "label": "Expensive hour price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#f66151",
        "x": 660,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cfd807fefa9a304e",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "duurste uur prijs",
        "func": "\nmsg.payload = global.get(\"ZonneplanSpreadDuursteVsCheapAvg\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 990,
        "wires": [
            [
                "3f227535a6e39cfc"
            ]
        ]
    },
    {
        "id": "3f227535a6e39cfc",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Delta price",
        "label": "Delta price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 620,
        "y": 990,
        "wires": []
    },
    {
        "id": "c13d2f6a4f7c0ba1",
        "type": "function",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "name": "EnergyMode",
        "func": "msg.payload = global.get(\"EnergyMode\") ;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1330,
        "wires": [
            [
                "68bd1d1987106ff4"
            ]
        ]
    },
    {
        "id": "68bd1d1987106ff4",
        "type": "ui_text",
        "z": "c111b612cbe93b7b",
        "g": "5d5ad91012be800e",
        "group": "78f49ffbd11e559b",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "EnergyMode",
        "label": "EnergyMode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 600,
        "y": 1330,
        "wires": []
    },
    {
        "id": "78f49ffbd11e559b",
        "type": "ui_group",
        "name": "Forecast",
        "tab": "cccf47e4.857ec8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "cccf47e4.857ec8",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "battery_charging_60",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f368e49fc68e97d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]