Zonneplan (1.12).json
[
    {
        "id": "3f235640b7cb44a9",
        "type": "subflow",
        "name": "0.xx",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 75,
                "wires": [
                    {
                        "id": "87ed2ab53564d859"
                    },
                    {
                        "id": "57918fca3037144d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 315,
                "y": 75,
                "wires": [
                    {
                        "id": "57918fca3037144d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "87ed2ab53564d859",
        "type": "function",
        "z": "3f235640b7cb44a9",
        "d": true,
        "name": "0.xx",
        "func": "msg.payload = msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 185,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "57918fca3037144d",
        "type": "change",
        "z": "3f235640b7cb44a9",
        "name": "Convert to 0.xx",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)\t\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload, 2)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7b46570054ca0f78",
        "type": "tab",
        "label": "ZonnePlan_needs token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "775c9ea48e68a32f",
        "type": "group",
        "z": "7b46570054ca0f78",
        "name": "Get price data from enever (zonneplan or other)",
        "style": {
            "stroke": "#000000",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f18f9ed8ad90afbb",
            "e19e6183713fdafe",
            "34163764b242717a",
            "81cae5d8a32eef2b",
            "641157da74839f3c",
            "e06985c9be1e6733",
            "7ba1ea2ea2020fa9",
            "17f264c52224b605",
            "3cc5a142cf280343",
            "1b8f58f075ec4ebc",
            "69b3df0a8436930d",
            "851cb38f98a2eece",
            "069d17a17d33b296",
            "336f8ba82706e7df",
            "d1fc2cd1b79c8bee",
            "af069a530cffbd30",
            "9659da28c07e4542",
            "6a80d9ba8af7eb0c",
            "74fea05b95c6400e",
            "90931e3316aa71ea",
            "44c0c6ddc9af11ce",
            "d46e0f96f1507243",
            "38561f3f037314a7",
            "d68042f43455fd80",
            "45993aa9b2c42566",
            "bf6af78438d67a29"
        ],
        "x": 164,
        "y": 79,
        "w": 1382,
        "h": 522
    },
    {
        "id": "3c320e2649352ec7",
        "type": "group",
        "z": "7b46570054ca0f78",
        "name": "UI selection",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c32a4ca4ff138579",
            "d8cf101068262a2d",
            "d03bba26d00b7f6b",
            "ca5b07d5bbc761c1",
            "cca186f5b824b2ac",
            "2426379a6bf87dd5",
            "cb3e8ff052a928d3",
            "3237894302478b68",
            "2ddb1c4691e2f799",
            "6f17999539e027cd",
            "ed418aa75f76e305",
            "acfb3abca5f39700",
            "0faaa7a9ac4e1111",
            "58a8a3aff213bd55",
            "d4035c6747f106f5",
            "f1ef54770a1d7ef8",
            "c0149a2a51baf2f9",
            "0942848501175b6d",
            "d0c057d586546034",
            "57b4f091452449e2",
            "7ffd605d7b9ef981",
            "838d109b899bcbd4",
            "176879f808cd9523",
            "05369daacf8575dd",
            "45e399ea8e10f044",
            "116e7f7d6363d779",
            "d744ce8dda050994",
            "4da0efeb9860e694",
            "d483ea52d71f47f1",
            "ee41599737c79d26",
            "8040ea874f99b41d",
            "29ae01f1a10ab18b",
            "4df87dcb06311ab7",
            "4e0d07c391660014",
            "8cb3de778c26aee5",
            "bba42c54921e3b45",
            "295692e0de013320",
            "21f7a838fecdc388",
            "9ab0b5d2f6a6fbe1"
        ],
        "x": 164,
        "y": 759,
        "w": 1222,
        "h": 1012
    },
    {
        "id": "45993aa9b2c42566",
        "type": "junction",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "x": 960,
        "y": 210,
        "wires": [
            [
                "e19e6183713fdafe",
                "6a80d9ba8af7eb0c"
            ]
        ]
    },
    {
        "id": "ebf402767923b9dc",
        "type": "junction",
        "z": "7b46570054ca0f78",
        "x": 960,
        "y": 710,
        "wires": [
            [
                "1b8f58f075ec4ebc"
            ]
        ]
    },
    {
        "id": "4e0d07c391660014",
        "type": "junction",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "x": 310,
        "y": 1560,
        "wires": [
            [
                "45e399ea8e10f044",
                "4da0efeb9860e694",
                "d483ea52d71f47f1",
                "8cb3de778c26aee5"
            ]
        ]
    },
    {
        "id": "f18f9ed8ad90afbb",
        "type": "json",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 820,
        "y": 210,
        "wires": [
            [
                "45993aa9b2c42566"
            ]
        ]
    },
    {
        "id": "e19e6183713fdafe",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 995,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "34163764b242717a",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "15h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "bf6af78438d67a29"
            ]
        ]
    },
    {
        "id": "81cae5d8a32eef2b",
        "type": "change",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Global save ZonneplanTijdsloten",
        "rules": [
            {
                "t": "set",
                "p": "ZonneplanTijdsloten",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "641157da74839f3c",
        "type": "file in",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "filename": "/home/pi/prijs.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 410,
        "wires": [
            [
                "7ba1ea2ea2020fa9",
                "f18f9ed8ad90afbb"
            ]
        ]
    },
    {
        "id": "e06985c9be1e6733",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Reload ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 450,
        "y": 370,
        "wires": [
            [
                "641157da74839f3c"
            ]
        ]
    },
    {
        "id": "7ba1ea2ea2020fa9",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 63",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 795,
        "y": 410,
        "wires": [],
        "l": false
    },
    {
        "id": "17f264c52224b605",
        "type": "comment",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Version 1.12",
        "info": "0.01 initial version (obtaine a token at enever.nl)\n0.02 improved save to file\n0.03 added Forecast price info\n1.11 added the missing HA solar Forecast\n1.12 fixed expensive hours not displaying\n",
        "x": 1430,
        "y": 120,
        "wires": []
    },
    {
        "id": "3cc5a142cf280343",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "3h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 190,
        "wires": [
            [
                "bf6af78438d67a29"
            ]
        ]
    },
    {
        "id": "1b8f58f075ec4ebc",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "1 if NaN",
        "func": "var price = msg.payload ;\n\nif (isNaN(price)){\n    msg.payload = 1\n}\nelse{\n    msg.payload = null\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "851cb38f98a2eece"
            ]
        ]
    },
    {
        "id": "69b3df0a8436930d",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "641157da74839f3c"
            ]
        ]
    },
    {
        "id": "851cb38f98a2eece",
        "type": "rbe",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "069d17a17d33b296",
                "641157da74839f3c"
            ]
        ]
    },
    {
        "id": "069d17a17d33b296",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 64",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 605,
        "y": 560,
        "wires": [],
        "l": false
    },
    {
        "id": "336f8ba82706e7df",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 65",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1265,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "d1fc2cd1b79c8bee",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 66",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1245,
        "y": 320,
        "wires": [],
        "l": false
    },
    {
        "id": "af069a530cffbd30",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 67",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1265,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "9659da28c07e4542",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "debug 68",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 685,
        "y": 250,
        "wires": [],
        "l": false
    },
    {
        "id": "6a80d9ba8af7eb0c",
        "type": "switch",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "valid?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 210,
        "wires": [
            [
                "336f8ba82706e7df",
                "81cae5d8a32eef2b",
                "90931e3316aa71ea",
                "af069a530cffbd30"
            ],
            [
                "d1fc2cd1b79c8bee"
            ]
        ]
    },
    {
        "id": "74fea05b95c6400e",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"status\":\"true\",\"data\":[{\"datum\":\"2026-05-28T00:00:00+02:00\",\"prijs\":\"0.125170\",\"prijsZP\":\"0.282306\"},{\"datum\":\"2026-05-28T01:00:00+02:00\",\"prijs\":\"0.116502\",\"prijsZP\":\"0.271818\"},{\"datum\":\"2026-05-28T02:00:00+02:00\",\"prijs\":\"0.115085\",\"prijsZP\":\"0.270103\"},{\"datum\":\"2026-05-07T03:00:00+02:00\",\"prijs\":\"0.115572\",\"prijsZP\":\"0.270693\"},{\"datum\":\"2026-05-07T04:00:00+02:00\",\"prijs\":\"0.117032\",\"prijsZP\":\"0.272459\"},{\"datum\":\"2026-05-07T05:00:00+02:00\",\"prijs\":\"0.124398\",\"prijsZP\":\"0.281371\"},{\"datum\":\"2026-05-07T06:00:00+02:00\",\"prijs\":\"0.147220\",\"prijsZP\":\"0.308986\"},{\"datum\":\"2026-05-07T07:00:00+02:00\",\"prijs\":\"0.162728\",\"prijsZP\":\"0.327750\"},{\"datum\":\"2026-05-07T08:00:00+02:00\",\"prijs\":\"0.154252\",\"prijsZP\":\"0.317496\"},{\"datum\":\"2026-05-07T09:00:00+02:00\",\"prijs\":\"0.123778\",\"prijsZP\":\"0.280621\"},{\"datum\":\"2026-05-07T10:00:00+02:00\",\"prijs\":\"0.107025\",\"prijsZP\":\"0.260350\"},{\"datum\":\"2026-05-07T11:00:00+02:00\",\"prijs\":\"0.097332\",\"prijsZP\":\"0.248622\"},{\"datum\":\"2026-05-07T12:00:00+02:00\",\"p...",
        "x": 270,
        "y": 410,
        "wires": [
            [
                "641157da74839f3c"
            ]
        ]
    },
    {
        "id": "90931e3316aa71ea",
        "type": "file",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "filename": "/home/pi/prijs.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1330,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "44c0c6ddc9af11ce",
        "type": "ui_button",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "",
        "group": "4e7ad7ec0d30e9a8",
        "order": 12,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Reload prices from file",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 490,
        "y": 330,
        "wires": [
            [
                "641157da74839f3c"
            ]
        ]
    },
    {
        "id": "d46e0f96f1507243",
        "type": "comment",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Reload",
        "info": "",
        "x": 630,
        "y": 330,
        "wires": []
    },
    {
        "id": "38561f3f037314a7",
        "type": "comment",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "Storage",
        "info": "",
        "x": 1470,
        "y": 260,
        "wires": []
    },
    {
        "id": "d68042f43455fd80",
        "type": "comment",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "fault?",
        "info": "",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "bf6af78438d67a29",
        "type": "http request",
        "z": "7b46570054ca0f78",
        "g": "775c9ea48e68a32f",
        "name": "http request | Provide valid token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://enever.nl/apiv3/stroomprijs_vandaag.php?token=YOUR_TOKEN&resolution=60&price=prijs,prijsZP",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 210,
        "wires": [
            [
                "f18f9ed8ad90afbb",
                "9659da28c07e4542"
            ]
        ]
    },
    {
        "id": "c32a4ca4ff138579",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Build cheap/expensive hour lists",
        "func": "let raw = global.get('ZonneplanTijdsloten');\nif (!raw || !raw.data || !Array.isArray(raw.data) || raw.data.length < 24) {\n    node.status({fill:'red',shape:'ring',text:'no ZonneplanTijdsloten'});\n    return null;\n}\n\nconst cheapCount = 4;\nconst expensiveMaxCount = 8;\nconst minSpread = 0.08;   // 8 cent boven goedkoopste uur\n\nlet uren = raw.data.map((item, index) => ({\n    uur: index,\n    prijs: Number(item.prijsZP)\n})).filter(x => !isNaN(x.prijs));\n\nif (uren.length === 0) {\n    node.status({fill:'red',shape:'ring',text:'no valid prices'});\n    return null;\n}\n\nlet goedkoopstePrijs = Math.min(...uren.map(x => x.prijs));\n\nlet cheapHours = [...uren]\n    .sort((a, b) => a.prijs - b.prijs)\n    .slice(0, cheapCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nlet expensiveHours = [...uren]\n    .filter(x => x.prijs >= (goedkoopstePrijs + minSpread))\n    .sort((a, b) => b.prijs - a.prijs)\n    .slice(0, expensiveMaxCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nfunction mergeHoursToSlots(hours) {\n    if (!hours.length) return [];\n    let slots = [];\n    let start = hours[0];\n    let end = hours[0];\n    for (let i = 1; i < hours.length; i++) {\n        if (hours[i] === end + 1) {\n            end = hours[i];\n        } else {\n            slots.push({\n                starttijd: start.toString().padStart(2, '0') + ':00',\n                eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n            });\n            start = hours[i];\n            end = hours[i];\n        }\n    }\n    slots.push({\n        starttijd: start.toString().padStart(2, '0') + ':00',\n        eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n    });\n    return slots;\n}\n\nlet cheapSlots = mergeHoursToSlots(cheapHours);\nlet expensiveSlots = mergeHoursToSlots(expensiveHours);\n\nglobal.set('ZonneplanCheapHours', cheapHours);\nglobal.set('ZonneplanCheapSlots', cheapSlots);\nglobal.set('ZonneplanExpensiveHours', expensiveHours);\nglobal.set('ZonneplanExpensiveSlots', expensiveSlots);\n\nmsg.payload = {\n    cheapHours,\n    cheapSlots,\n    expensiveHours,\n    expensiveSlots,\n    goedkoopstePrijs\n};\n\nnode.status({fill:'green',shape:'dot',text:'cheap ' + cheapHours.join(',') + ' | exp ' + expensiveHours.join(',')});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 1450,
        "wires": [
            []
        ]
    },
    {
        "id": "d8cf101068262a2d",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "PVSurplusW",
        "func": "//var solarpwr = Number(global.get(\"SolarPwr\")[0]);\n//var actualuse = Number(global.get(\"ActualUse\")[0]) ;\n//var surplus = solarpwr - actualuse ; //or negative p1 power\n\nvar p1pwr = Number(global.get(\"P1Power\"))\n\nif(p1pwr < 0){\n    p1pwr = Math.abs(p1pwr)\n    global.set(\"PVSurplusW\" ,p1pwr) \n}\n\nelse {\n    p1pwr = 0 \n    global.set(\"PVSurplusW\" ,p1pwr)\n}\nmsg.payload = p1pwr ;\n\nnode.status({fill:'green',shape:'ring',text:'Surplus ' + p1pwr});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1310,
        "wires": [
            [
                "3237894302478b68"
            ]
        ]
    },
    {
        "id": "d03bba26d00b7f6b",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "1 sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1280,
        "wires": [
            [
                "d8cf101068262a2d",
                "7ffd605d7b9ef981"
            ]
        ]
    },
    {
        "id": "ca5b07d5bbc761c1",
        "type": "inject",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1210,
        "wires": [
            [
                "2426379a6bf87dd5",
                "6f17999539e027cd",
                "ed418aa75f76e305",
                "0faaa7a9ac4e1111",
                "c0149a2a51baf2f9",
                "d0c057d586546034",
                "4e0d07c391660014",
                "21f7a838fecdc388",
                "f1ef54770a1d7ef8"
            ]
        ]
    },
    {
        "id": "cca186f5b824b2ac",
        "type": "change",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "ZonneplanCurrentHour",
        "rules": [
            {
                "t": "set",
                "p": "ZonneplanCurrentHour",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "2426379a6bf87dd5",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Price current hour (Zonneplan)",
        "func": "msg.payload = global.get(\"ZonneplanTijdsloten\") ;\n\n\nvar date = new Date();\n\nvar Chour = date.getHours() ;\n\n\nvar msg = Number(msg.payload.data[Chour].prijsZP) ;\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Current Price: \" + msg });\nmsg.topic = \"CurrentPrice\" ;\nreturn [{payload: msg}];\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 820,
        "wires": [
            [
                "cca186f5b824b2ac",
                "cb3e8ff052a928d3",
                "ebf402767923b9dc"
            ]
        ]
    },
    {
        "id": "cb3e8ff052a928d3",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "Current hour",
        "label": "Current hour",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#ff8605",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "3237894302478b68",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "SurPlus",
        "label": "SurPlus",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 1110,
        "y": 1310,
        "wires": []
    },
    {
        "id": "2ddb1c4691e2f799",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Cheap Hours",
        "label": "Cheap Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#2ec27e",
        "x": 1100,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6f17999539e027cd",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Cheap hours",
        "func": "msg.payload = global.get(\"EnergyModePayload.cheapHours\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\nmsg.payload = msg.payload.join(', ');\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1120,
        "wires": [
            [
                "2ddb1c4691e2f799"
            ]
        ]
    },
    {
        "id": "ed418aa75f76e305",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Expensive hours",
        "func": "msg.payload = global.get(\"EnergyModePayload.expensiveHours\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\nmsg.payload = msg.payload.join(', ');\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "acfb3abca5f39700"
            ]
        ]
    },
    {
        "id": "acfb3abca5f39700",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Expensive Hours",
        "label": "Expensive Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#f66151",
        "x": 1080,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0faaa7a9ac4e1111",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Cheap avg",
        "func": "msg.payload = global.get(\"EnergyModePayload.cheapAvg\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1210,
        "wires": [
            [
                "58a8a3aff213bd55"
            ]
        ]
    },
    {
        "id": "58a8a3aff213bd55",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Cheap avg",
        "label": "Cheap avg",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#2ec27e",
        "x": 1100,
        "y": 1210,
        "wires": []
    },
    {
        "id": "d4035c6747f106f5",
        "type": "debug",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "debug 69",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f1ef54770a1d7ef8",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Build cheap/expensive hour lists V2",
        "func": "let raw = global.get('ZonneplanTijdsloten');\nif (!raw || !raw.data || !Array.isArray(raw.data) || raw.data.length < 24) {\n    node.status({fill:'red',shape:'ring',text:'no ZonneplanTijdsloten'});\n    return null;\n}\n\nconst cheapCount = 4;\nconst expensiveMaxCount = 1; // aantal dure uren voor max ontladen\nconst minSpread = 0.08;      // 8 cent boven gemiddelde goedkope uren\n\nlet uren = raw.data.map((item, index) => ({\n    uur: index,\n    prijs: Number(item.prijsZP)\n})).filter(x => !isNaN(x.prijs));\n\nif (uren.length === 0) {\n    node.status({fill:'red',shape:'ring',text:'no valid prices'});\n    return null;\n}\n\nlet goedkoopstePrijs = Math.min(...uren.map(x => x.prijs));\n\nlet cheapHours = [...uren]\n    .sort((a, b) => a.prijs - b.prijs)\n    .slice(0, cheapCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\n// Gemiddelde prijs van de gekozen goedkope uren berekenen\nlet cheapPrices = uren\n    .filter(x => cheapHours.includes(x.uur))\n    .map(x => x.prijs);\n\nlet cheapAvg = cheapPrices.length\n    ? cheapPrices.reduce((a, b) => a + b, 0) / cheapPrices.length\n    : goedkoopstePrijs;\n\n// Duurste uur berekenen\nlet duurste = [...uren].sort((a, b) => b.prijs - a.prijs)[0];\n\nlet duursteUur = duurste.uur;\nlet duurstePrijs = duurste.prijs;\nlet spreadDuursteVsCheapAvg = duurstePrijs - cheapAvg;\nlet spreadDuursteVsGoedkoopste = duurstePrijs - goedkoopstePrijs;\nlet dischargeAllowed = spreadDuursteVsCheapAvg >= minSpread;\n\n// Alleen het duurste uur kiezen als het genoeg boven cheapAvg ligt\nlet expensiveHours = [...uren]\n    .filter(x => x.prijs >= (cheapAvg + minSpread))\n    .sort((a, b) => b.prijs - a.prijs)\n    .slice(0, expensiveMaxCount)\n    .sort((a, b) => a.uur - b.uur)\n    .map(x => x.uur);\n\nfunction mergeHoursToSlots(hours) {\n    if (!hours.length) return [];\n    let slots = [];\n    let start = hours[0];\n    let end = hours[0];\n\n    for (let i = 1; i < hours.length; i++) {\n        if (hours[i] === end + 1) {\n            end = hours[i];\n        } else {\n            slots.push({\n                starttijd: start.toString().padStart(2, '0') + ':00',\n                eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n            });\n            start = hours[i];\n            end = hours[i];\n        }\n    }\n\n    slots.push({\n        starttijd: start.toString().padStart(2, '0') + ':00',\n        eindtijd: (end + 1).toString().padStart(2, '0') + ':00'\n    });\n\n    return slots;\n}\n\nlet cheapSlots = mergeHoursToSlots(cheapHours);\nlet expensiveSlots = mergeHoursToSlots(expensiveHours);\n\nglobal.set('ZonneplanCheapHours', cheapHours);\nglobal.set('ZonneplanCheapSlots', cheapSlots);\nglobal.set('ZonneplanExpensiveHours', expensiveHours);\nglobal.set('ZonneplanExpensiveSlots', expensiveSlots);\nglobal.set('ZonneplanCheapAvg', cheapAvg);\n\nglobal.set('ZonneplanDuursteUur', duursteUur);\nglobal.set('ZonneplanDuurstePrijs', duurstePrijs);\nglobal.set('ZonneplanSpreadDuursteVsCheapAvg', spreadDuursteVsCheapAvg);\nglobal.set('ZonneplanDischargeAllowed', dischargeAllowed);\n\nmsg.payload = {\n    cheapHours,\n    cheapSlots,\n    expensiveHours,\n    expensiveSlots,\n    goedkoopstePrijs,\n    cheapAvg,\n    duursteUur,\n    duurstePrijs,\n    spreadDuursteVsCheapAvg,\n    spreadDuursteVsGoedkoopste,\n    dischargeAllowed\n};\n\nnode.status({\n    fill: dischargeAllowed ? 'green' : 'yellow',\n    shape: 'dot',\n    text:\n        'cheap ' + cheapHours.join(',') +\n        ' | duurste ' + duursteUur +\n        ' €' + duurstePrijs.toFixed(3) +\n        ' spread ' + spreadDuursteVsCheapAvg.toFixed(3)\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1260,
        "wires": [
            [
                "d4035c6747f106f5"
            ]
        ]
    },
    {
        "id": "c0149a2a51baf2f9",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "duurste uur prijs",
        "func": "\nmsg.payload = global.get(\"ZonneplanDuurstePrijs\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1070,
        "wires": [
            [
                "0942848501175b6d"
            ]
        ]
    },
    {
        "id": "0942848501175b6d",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Expensive hour price",
        "label": "Expensive hour price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#f66151",
        "x": 1070,
        "y": 1070,
        "wires": []
    },
    {
        "id": "d0c057d586546034",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "duurste uur prijs",
        "func": "\nmsg.payload = global.get(\"ZonneplanSpreadDuursteVsCheapAvg\") ;\n\n// Zet de array om naar een komma-gescheiden tekst\n// msg.payload = msg.payload.join(', ');\n\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "57b4f091452449e2"
            ]
        ]
    },
    {
        "id": "57b4f091452449e2",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Delta price",
        "label": "Delta price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 1100,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7ffd605d7b9ef981",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "EnergyMode",
        "func": "msg.payload = global.get(\"EnergyMode\") ;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1370,
        "wires": [
            [
                "838d109b899bcbd4"
            ]
        ]
    },
    {
        "id": "838d109b899bcbd4",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "EnergyMode",
        "label": "EnergyMode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#fafafa",
        "x": 1090,
        "y": 1370,
        "wires": []
    },
    {
        "id": "176879f808cd9523",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Est today ",
        "label": "Estimated today ",
        "format": "{{msg.payload}} kWh",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#a8a8a8",
        "x": 1090,
        "y": 1670,
        "wires": []
    },
    {
        "id": "05369daacf8575dd",
        "type": "subflow:3f235640b7cb44a9",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "x": 910,
        "y": 1670,
        "wires": [
            [
                "176879f808cd9523"
            ]
        ]
    },
    {
        "id": "45e399ea8e10f044",
        "type": "api-current-state",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "server": "6ad6bd245c78b95a",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.energy_production_today_2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 1670,
        "wires": [
            [
                "05369daacf8575dd"
            ]
        ]
    },
    {
        "id": "116e7f7d6363d779",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "Est next hour",
        "label": "Estimated next hour",
        "format": "{{msg.payload}} kWh",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#a8a8a8",
        "x": 1290,
        "y": 1590,
        "wires": []
    },
    {
        "id": "d744ce8dda050994",
        "type": "comment",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Import some HA solar forcast",
        "info": "",
        "x": 530,
        "y": 1510,
        "wires": []
    },
    {
        "id": "4da0efeb9860e694",
        "type": "api-current-state",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "server": "6ad6bd245c78b95a",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.energy_next_hour_2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 1560,
        "wires": [
            [
                "ee41599737c79d26"
            ]
        ]
    },
    {
        "id": "d483ea52d71f47f1",
        "type": "api-current-state",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "server": "6ad6bd245c78b95a",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.energy_next_hour_3",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 1610,
        "wires": [
            [
                "8040ea874f99b41d"
            ]
        ]
    },
    {
        "id": "ee41599737c79d26",
        "type": "change",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Est A",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1560,
        "wires": [
            [
                "29ae01f1a10ab18b"
            ]
        ]
    },
    {
        "id": "8040ea874f99b41d",
        "type": "change",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Est B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1610,
        "wires": [
            [
                "29ae01f1a10ab18b"
            ]
        ]
    },
    {
        "id": "29ae01f1a10ab18b",
        "type": "SumUltimate",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Math",
        "property": "payload",
        "math": "sum",
        "subtractstartfrom": "",
        "x": 1010,
        "y": 1590,
        "wires": [
            [
                "4df87dcb06311ab7"
            ]
        ]
    },
    {
        "id": "4df87dcb06311ab7",
        "type": "subflow:3f235640b7cb44a9",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "x": 1130,
        "y": 1590,
        "wires": [
            [
                "116e7f7d6363d779"
            ]
        ]
    },
    {
        "id": "8cb3de778c26aee5",
        "type": "api-current-state",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "server": "6ad6bd245c78b95a",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.energy_production_tomorrow_2",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 610,
        "y": 1730,
        "wires": [
            [
                "bba42c54921e3b45"
            ]
        ]
    },
    {
        "id": "bba42c54921e3b45",
        "type": "subflow:3f235640b7cb44a9",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "x": 910,
        "y": 1730,
        "wires": [
            [
                "9ab0b5d2f6a6fbe1"
            ]
        ]
    },
    {
        "id": "295692e0de013320",
        "type": "ui_chart",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "",
        "group": "4e7ad7ec0d30e9a8",
        "order": 14,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 930,
        "wires": [
            []
        ]
    },
    {
        "id": "21f7a838fecdc388",
        "type": "function",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "name": "Prep graph",
        "func": "var invoerData = global.get(\"ZonneplanTijdsloten.data\") || [];\n\nvar lijnPrijs = [];\nvar lijnPrijsZP = [];\nvar markerNu = [];\n\nvar nu = new Date();\nnu.setMinutes(0, 0, 0);\nvar huidigUur = nu.getTime();\n\nvar huidigePrijs = null;\nvar minPrijs = Infinity;\nvar maxPrijs = -Infinity;\n\nfor (var i = 0; i < invoerData.length; i++) {\n    var item = invoerData[i];\n\n    var datum = new Date(item.datum);\n    var timestamp = datum.getTime();\n\n    var datumUur = new Date(item.datum);\n    datumUur.setMinutes(0, 0, 0);\n    var timestampUur = datumUur.getTime();\n\n    var prijs = Number(item.prijs);\n    var prijsZP = Number(item.prijsZP);\n\n    lijnPrijs.push({ x: timestamp, y: prijs });\n    lijnPrijsZP.push({ x: timestamp, y: prijsZP });\n\n    if (!isNaN(prijs)) {\n        minPrijs = Math.min(minPrijs, prijs);\n        maxPrijs = Math.max(maxPrijs, prijs);\n    }\n\n    if (!isNaN(prijsZP)) {\n        minPrijs = Math.min(minPrijs, prijsZP);\n        maxPrijs = Math.max(maxPrijs, prijsZP);\n    }\n\n    if (timestampUur === huidigUur) {\n        huidigePrijs = prijs;\n    }\n}\n\n// verticale marker maken\nif (huidigePrijs !== null && minPrijs !== Infinity && maxPrijs !== -Infinity) {\n    markerNu.push({ x: huidigUur, y: minPrijs });\n    markerNu.push({ x: huidigUur, y: maxPrijs });\n}\n\nmsg.payload = [{\n    series: [\"Price\", \"Price All in\", \"Now\"],\n    data: [lijnPrijs, lijnPrijsZP, markerNu]\n}];\n\nif (huidigePrijs !== null && !isNaN(huidigePrijs)) {\n    msg.ui_control = {\n        options: {\n            title: \"Huidige prijs: \" + Number(huidigePrijs).toFixed(2) + \" ct/kWh\"\n        }\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 930,
        "wires": [
            [
                "295692e0de013320"
            ]
        ]
    },
    {
        "id": "9ab0b5d2f6a6fbe1",
        "type": "ui_text",
        "z": "7b46570054ca0f78",
        "g": "3c320e2649352ec7",
        "group": "4e7ad7ec0d30e9a8",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "Est tomorrow ",
        "label": "Estimated tomorrow ",
        "format": "{{msg.payload}} kWh",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#a8a8a8",
        "x": 1080,
        "y": 1730,
        "wires": []
    },
    {
        "id": "4e7ad7ec0d30e9a8",
        "type": "ui_group",
        "name": "Forecast",
        "tab": "cccf47e4.857ec8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "6ad6bd245c78b95a",
        "type": "server",
        "d": true,
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "cccf47e4.857ec8",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "battery_charging_60",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4047d1ccc5dfd28b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-boolean-logic-ultimate": "1.2.11"
        }
    }
]
